.main-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 100px;
  margin-bottom: 50px;
}

.blog-item .blog-item__top {
  margin-bottom: 33px;
}
.blog-item .blog-item__top time {
  color: #959595;
}
.blog-item .blog-item__top span {
  color: #E83445;
  margin-left: 24px;
}
.blog-item .blog-item__title {
  color: #121212;
  font-size: 48px;
  font-weight: 700;
  margin: 0 0 30px;
  max-width: 714px;
}
.blog-item .blog-item__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.blog-item .blog-item__ph p {
  line-height: 27px;
  max-width: 859px;
  margin: 0;
  color: #262626;
}
.blog-item .blog-item__img {
  max-width: 800px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.blog-item .blog-item__img img {
  width: 100%;
  -ms-grid-column-align: center;
      justify-self: center;
  border-radius: 20px;
}
.blog-item .blog-item__img p {
  font-style: italic;
  margin: 23px 0 0;
  color: #a1a1a1;
  display: inline-block;
}
.blog-item .blog-item__h2 h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  color: #121212;
  margin: 0;
}
.blog-item .blog-item__h3 h3 {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  color: #121212;
  margin: 0;
}
.blog-item .blog-item__quote {
  margin-top: 132px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.blog-item .blog-item__quote .blog-quote__container {
  max-width: 733px;
  margin: 0 67px 0 auto;
}
.blog-item .blog-item__quote h3 {
  font-style: italic;
  font-size: 26px;
  line-height: 24px;
  color: #121212;
  margin: 0 0 24px;
  font-weight: 400;
}
.blog-item .blog-item__quote p {
  margin: 0;
  font-size: 16px;
  line-height: 27px;
  color: #121212;
}

.blog-nav {
  margin: 110px 0 82px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}
.blog-nav__item {
  max-width: 520px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  border-top: 1px solid #EFEFEF;
  padding: 24px 36px;
  position: relative;
  -webkit-transition: 0.123s ease-out border-top-color;
  transition: 0.123s ease-out border-top-color;
}
.blog-nav__item:hover, .blog-nav__item:focus {
  border-top-color: #E83445;
}
.blog-nav__item svg {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.blog-nav__item-left svg {
  left: 15px;
}
.blog-nav__item-right svg {
  -webkit-transform: translateY(-50%) rotateZ(180deg);
          transform: translateY(-50%) rotateZ(180deg);
  right: 15px;
}
.blog-nav__item span {
  font-size: 15px;
  color: #959595;
  margin-bottom: 6px;
}
.blog-nav__item h5 {
  margin: 0;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

@media (max-width: 1180px) {
  .blog-item__ph {
    max-width: 100% !important;
  }
  .blog-item__ph p {
    max-width: 100% !important;
  }
}
@media (max-width: 768px) {
  .main-top {
    margin-top: 20px;
  }

  .blog-item__top {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .blog-item .blog-item__img.lg-fill {
    width: calc(100% + var(--cp) + var(--cp));
    margin-left: calc(-1 * var(--cp));
    margin-top: 36px;
  }
  .blog-item .blog-item__img.lg-fill img {
    border-radius: 0;
  }
  .blog-item .blog-item__title {
    font-size: 22px;
    margin-bottom: 24px;
    text-align: center;
  }
  .blog-item .blog-item__h2 h2 {
    font-size: 18px;
  }
  .blog-item .blog-item__img p {
    font-size: 14px;
    line-height: auto;
    margin-top: 20px;
  }
  .blog-item .blog-item__quote {
    margin-top: 53px;
    text-align: center;
  }
  .blog-item .blog-item__quote .blog-quote__container {
    margin: 0;
  }
  .blog-item .blog-item__quote h3 {
    font-size: 18px;
  }
  .blog-item .blog-item__quote p {
    font-size: 14px;
    line-height: 19px;
  }

  .blog-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0;
    border-bottom: 1px solid #EFEFEF;
  }
  .blog-nav__item {
    width: calc(100% + var(--cp) + var(--cp));
    margin-left: calc(-1 * var(--cp));
    max-width: none;
  }
}
@media (max-width: 420px) {
  .blog-nav__item {
    padding: 12px 62px;
    text-align: center;
  }
  .blog-nav__item-left svg {
    left: 32px;
  }
  .blog-nav__item-right svg {
    right: 32px;
  }
}