@-webkit-keyframes load-btn {
  0% {
    -webkit-transform: rotate(9);
            transform: rotate(9);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes load-btn {
  0% {
    -webkit-transform: rotate(9);
            transform: rotate(9);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes display {
  0% {
    opacity: 0;
    display: none;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  25% {
    display: none;
  }
  50% {
    display: block;
  }
  100% {
    display: block;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes display {
  0% {
    opacity: 0;
    display: none;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  25% {
    display: none;
  }
  50% {
    display: block;
  }
  100% {
    display: block;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}
:root {
  --pt: 113px;
  --cp: 12px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}
body.no-scroll {
  overflow: hidden;
}

.container {
  margin: 0 auto;
  max-width: 1180px;
  padding: 0 var(--cp);
}

.inner {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: var(--pt);
}
.inner .main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.logo {
  display: inline-block;
  padding-bottom: 9px;
  border-bottom: 2px solid transparent;
  -webkit-transition: border-bottom-color 123ms ease-out;
  transition: border-bottom-color 123ms ease-out;
  line-height: 0;
  outline: none;
}
.logo:hover, .logo:focus {
  border-bottom-color: #C4C4C4 !important;
}
.logo.active, .logo:active {
  border-bottom-color: #E83445;
}

.active .logo {
  position: relative;
  z-index: 2;
}

.main-title {
  font-size: 35px;
  margin: 0;
  color: #000000;
  font-weight: 400;
}

.free-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}
.free-top__title {
  font-size: 30px;
  margin: 0;
}
.free-top__link {
  font-size: 14px;
  color: #BBBBBB;
  text-decoration: none;
}

.free hr {
  border: 1px solid #EFEFEF;
  margin: 0 0 20px;
}

.free .blog {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 38px 1fr 38px 1fr 38px 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 38px;
}
.free .blog .blog-item {
  text-decoration: none;
  color: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-height: 228px;
}
.free .blog .blog-item__img {
  border-radius: 10px;
  width: 100%;
  margin-bottom: 14px;
}
.free .blog .blog-item__group {
  color: #E83445;
  font-size: 12px;
}
.free .blog .blog-item__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 6px 0;
}
.free .blog .blog-item__desc {
  line-height: 18px;
  font-size: 13px;
  color: #9D9D9D;
  margin: auto 0 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-height: 54px;
  overflow: hidden;
}

.to-up {
  position: absolute;
  top: -6px;
  right: 0;
  padding: 0;
  margin: 0;
  border: 0;
  background: 0;
  cursor: pointer;
}
.to-up svg {
  fill: #E9E9E9;
  -webkit-transition: 0.12s ease-out;
  transition: 0.12s ease-out;
}
.to-up svg:hover {
  fill: #E83445;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 25px;
}
.header-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 370px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-left: 99px;
}
.header-catalog {
  position: relative;
}
.header-catalog.active .header-catalog__list {
  display: block;
  -webkit-animation: display 0.5s ease-out forwards;
          animation: display 0.5s ease-out forwards;
}
.header-catalog.active .header-catalog__btn div span {
  position: absolute;
}
.header-catalog__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #E83445;
  border: 0;
  padding: 11px 15px;
  border-radius: 5px;
  font-size: 14px;
  color: #ffffff;
  margin-right: 10px;
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease-out;
  transition: background-color 0.3s ease-out;
}
.header-catalog__btn svg {
  display: none;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}
.header-catalog__btn:hover {
  background-color: #cf3242;
}
.header-catalog__btn:focus {
  outline: none;
  background-color: #D41C2E;
}
.header-catalog__btn div {
  width: 14px;
  height: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-right: 8px;
}
.header-catalog__btn div span {
  display: inline-block;
  border: 1px solid #ffffff;
  border-radius: 1px;
  width: 4px;
  height: 4px;
}
.header-catalog__list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 190px;
  padding: 16px 28px 28px 15px;
  position: absolute;
  z-index: 10;
  top: calc(100% + 9px);
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 20px rgba(232, 52, 69, 0.1);
          box-shadow: 0px 0px 20px rgba(232, 52, 69, 0.1);
  border-radius: 5px;
  display: none;
  animation: display 0.5s ease-out alternate-reverse forwards;
}
.header-catalog__list li a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 14px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 5px;
  -webkit-transition: all 0.123s ease-out;
  transition: all 0.123s ease-out;
  outline: none;
  background-image: -webkit-gradient(linear, left top, right top, from(#E83445), to(#E83445));
  background-image: linear-gradient(90deg, #E83445 0%, #E83445 100%);
  background-position: left bottom;
  background-size: 0px 1px;
  background-repeat: no-repeat;
  color: inherit;
  text-decoration: none;
}
.header-catalog__list li a:hover, .header-catalog__list li a:focus {
  background-size: 100% 1px;
}
.header-catalog__list li a svg {
  margin-right: 7px;
  width: 11px;
}
.header-catalog__list li a svg path {
  stroke: #818181;
}
.header-catalog__list li a:hover path {
  stroke: #E83445;
}
.header-catalog__list li + li {
  margin-top: 11px;
}
.header-nav {
  max-width: 212px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header-nav__link {
  font-size: 14px;
  color: inherit;
  text-decoration: none;
  padding-bottom: 11px;
  -webkit-transition: all 0.123s ease-out;
  transition: all 0.123s ease-out;
  outline: none;
  background-image: -webkit-gradient(linear, left top, right top, from(#E83445), to(#E83445));
  background-image: linear-gradient(90deg, #E83445 0%, #E83445 100%);
  background-position: left bottom;
  background-size: 0px 1px;
  background-repeat: no-repeat;
  margin-bottom: -11px;
}
.header-nav__link:hover, .header-nav__link:focus {
  background-size: 100% 1px;
}
.header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}
.header-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  max-width: 250px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  background-color: #ffffff;
  margin-right: 28px;
  -webkit-transition: padding 0.3s ease-out, background-color 0.3s ease-out;
  transition: padding 0.3s ease-out, background-color 0.3s ease-out;
}
.header-form.active {
  background: #F5F5F5;
  padding: 13px 10px 13px;
}
.header-form.active button {
  margin-right: 15px;
}
.header-form.active button svg path {
  fill: #E83445;
}
.header-form.active input {
  width: 100%;
}
.header-form button {
  line-height: 0;
  -webkit-transition: margin 0.3s ease-out;
  transition: margin 0.3s ease-out;
  padding: 0;
  margin: 0;
  border: 0;
  background: 0;
  cursor: pointer;
}
.header-form button path {
  -webkit-transition: fill 0.123s ease-out;
  transition: fill 0.123s ease-out;
  fill: #000000;
}
.header-form button:hover path {
  fill: #E83445;
}
.header-form button label {
  cursor: pointer;
}
.header-form button svg {
  pointer-events: none;
}
.header-form input {
  padding: 0;
  width: 0px;
  font-size: 14px;
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  border: 0;
  background: 0;
  outline: none;
  -webkit-transition: width 0.3s ease-out;
  transition: width 0.3s ease-out;
}
.header-form input:placeholder {
  color: #D0C5C5;
}
.header-form__popap {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 15;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  padding: 0px 10px;
}
.header-form__popap .popap-title {
  font-size: 22px;
  line-height: 30px;
  margin-top: 52px;
}
.header-form__popap input {
  width: 100%;
  border: 0;
  outline: none;
  border-bottom: 1px solid #000;
  margin-top: 48px;
  font-size: 20px;
  border-radius: 0;
}
.header-form__popap .popap-closeBtn {
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  margin: 0;
  border: 0;
  background: 0;
  cursor: pointer;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  outline: none;
  position: absolute;
  top: 10px;
  right: 11px;
}
.header-form__popap .popap-closeBtn::after, .header-form__popap .popap-closeBtn::before {
  display: inline-block;
  content: "";
  width: 30px;
  height: 2px;
  position: absolute;
  background-color: #000;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.header-form__popap .popap-closeBtn::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.header-favorites {
  margin-right: 28px;
  line-height: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 34px;
  height: 34px;
  border: 1px solid transparent;
  -webkit-transition: border-color 0.3s ease-out;
  transition: border-color 0.3s ease-out;
  border-radius: 50%;
  position: relative;
}
.header-favorites .data-new {
  position: absolute;
  top: -9px;
  right: -14px;
  background-color: #E83445;
  padding: 1px 5px;
  line-height: 15px;
  font-size: 11px;
  font-weight: 700;
  color: #fff;
  display: inline-block;
  border: 1px solid #ffffff;
  border-radius: 50px;
}
.header-favorites .data-new {
  top: 1px;
  right: -4px;
}
.header-favorites:hover {
  border-color: #E83445;
}
.header-favorites svg {
  fill: none;
  stroke: #000000;
}
.header-basket {
  font-size: 14px;
  margin-bottom: -8px;
  color: inherit;
  text-decoration: none;
  position: relative;
  padding-bottom: 8px;
  -webkit-transition: all 0.123s ease-out;
  transition: all 0.123s ease-out;
  outline: none;
  background-image: -webkit-gradient(linear, left top, right top, from(#E83445), to(#E83445));
  background-image: linear-gradient(90deg, #E83445 0%, #E83445 100%);
  background-position: left bottom;
  background-size: 0px 1px;
  background-repeat: no-repeat;
}
.header-basket .data-new {
  position: absolute;
  top: -9px;
  right: -14px;
  background-color: #E83445;
  padding: 1px 5px;
  line-height: 15px;
  font-size: 11px;
  font-weight: 700;
  color: #fff;
  display: inline-block;
  border: 1px solid #ffffff;
  border-radius: 50px;
}
.header-basket:hover, .header-basket:focus {
  background-size: 100% 1px;
}
.header-basket svg {
  display: none;
}
.header.active .header-btn span {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  opacity: 0;
  visibility: hidden;
  margin-bottom: 0;
}
.header.active .header-btn:before {
  margin-bottom: 0;
  -webkit-transform: rotate(45deg) translateY(3px);
          transform: rotate(45deg) translateY(3px);
}
.header.active .header-btn:after {
  -webkit-transform: rotate(-45deg) translateY(-3px);
          transform: rotate(-45deg) translateY(-3px);
}
.header-btn {
  height: 30px;
  width: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  padding: 0;
  margin: 0;
  border: 0;
  background: 0;
  cursor: pointer;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  outline: none;
  display: none;
}
.header-btn span, .header-btn:after, .header-btn:before {
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: opacity 0.3s ease-out, visibility 0.3s ease-out, margin 0.2s ease-out, -webkit-transform 0.3s ease-out;
  transition: opacity 0.3s ease-out, visibility 0.3s ease-out, margin 0.2s ease-out, -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out, opacity 0.3s ease-out, visibility 0.3s ease-out, margin 0.2s ease-out;
  transition: transform 0.3s ease-out, opacity 0.3s ease-out, visibility 0.3s ease-out, margin 0.2s ease-out, -webkit-transform 0.3s ease-out;
  content: "";
  margin-bottom: 6px;
  background: #000000;
  display: inline-block;
  width: 30px;
  height: 2px;
}
.header-btn:after {
  margin-bottom: 0;
}

.footer {
  position: relative;
  margin-top: 200px;
  padding-bottom: 62px;
}
.footer-crumbs {
  color: #C4C4C4;
  font-size: 12px;
}
.footer-crumbs__link {
  color: inherit;
  text-decoration: none;
}
.footer-content {
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer-content__item {
  margin-right: 103px;
}
.footer-content__item:last-child {
  margin: 0 0 0 auto;
}
.footer-content__item .footer-list,
.footer-content__item .footer-list__contact {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer-content__item .footer-list__title,
.footer-content__item .footer-list__contact__title {
  margin-bottom: 20px;
}
.footer-content__item .footer-list__title svg,
.footer-content__item .footer-list__contact__title svg {
  display: none;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  fill: #ccc;
}
.footer-content__item .footer-list__item,
.footer-content__item .footer-list__contact__item {
  font-size: 14px;
  color: #252525;
}
.footer-content__item .footer-list__item b,
.footer-content__item .footer-list__contact__item b {
  font-weight: 700;
  line-height: 24px;
}
.footer-content__item .footer-list__item a,
.footer-content__item .footer-list__contact__item a {
  line-height: 30px;
  display: inline-block;
  color: inherit;
  text-decoration: none;
  -webkit-transition: opacity 0.15s ease-out;
  transition: opacity 0.15s ease-out;
}
.footer-content__item .footer-list__item a:hover,
.footer-content__item .footer-list__contact__item a:hover {
  opacity: 0.8;
}
.footer-content__item .footer-list.contact,
.footer-content__item .footer-list__contact.contact {
  text-align: right;
}
.footer-content__item .footer-list.contact .footer-list__item,
.footer-content__item .footer-list__contact.contact .footer-list__item {
  font-size: 18px;
}
.footer-content__item .footer-list.contact .footer-list__item.tel,
.footer-content__item .footer-list__contact.contact .footer-list__item.tel {
  margin-bottom: 7px;
}
.footer-content__item .footer-list.contact .footer-list__item.tel a,
.footer-content__item .footer-list__contact.contact .footer-list__item.tel a {
  line-height: auto;
  font-weight: 700;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}
.footer-content__item .footer-list.contact .footer-list__item.tel a:hover,
.footer-content__item .footer-list__contact.contact .footer-list__item.tel a:hover {
  color: #E83445;
}
.footer-content__item .footer-list.contact .footer-list__item.mail a,
.footer-content__item .footer-list__contact.contact .footer-list__item.mail a {
  line-height: auto;
  font-weight: 400;
}

.load-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  padding: 10px 20px 10px 17px;
  border-radius: 5px;
  position: relative;
  border: 0;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  color: #282828;
  -webkit-transition: background-color 0.2s ease-out, color 0.2s ease-out;
  transition: background-color 0.2s ease-out, color 0.2s ease-out;
}
.load-btn:hover {
  color: #ffffff;
  background-color: #E83445;
}
.load-btn:hover svg {
  fill: #ffffff;
}
.load-btn.loading svg {
  -webkit-animation: load-btn 5s linear infinite;
          animation: load-btn 5s linear infinite;
}
.load-btn svg {
  margin-right: 8px;
  -webkit-transition: fill 0.2s ease-out;
  transition: fill 0.2s ease-out;
  filL: #282828;
}
.load-btn svg path {
  fill: inherit;
}

.main-top__nav {
  margin: 0 auto;
  overflow-x: auto;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.main-top__link {
  color: inherit;
  text-decoration: none;
  padding-bottom: 13px;
  -webkit-transition: all 0.123s ease-out;
  transition: all 0.123s ease-out;
  outline: none;
  background-image: -webkit-gradient(linear, left top, right top, from(#E83445), to(#E83445));
  background-image: linear-gradient(90deg, #E83445 0%, #E83445 100%);
  background-position: left bottom;
  background-size: 0px 1px;
  background-repeat: no-repeat;
  font-size: 14px;
  display: inline-block;
}
.main-top__link:hover, .main-top__link:focus {
  background-size: 100% 1px;
}
.main-top__link + .main-top__link {
  margin-left: 20px;
}

@media (max-width: 1100px) {
  :root {
    --pt: 90px;
  }
}
@media (max-width: 900px) {
  .header-inner {
    margin-left: 20px;
  }

  .header-form {
    margin-right: 15px;
  }
}
@media (max-width: 836px) {
  .footer-content__item {
    margin-right: 75px;
  }
}
@media (max-width: 768px) {
  .header {
    padding-right: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header.active .header-form__popap.active {
    display: block;
  }
  .header .logo {
    padding-bottom: 0;
  }
  .header-right {
    display: none;
    margin-right: 25px;
  }
  .header-form {
    margin: 0 15px 5px 0;
  }
  .header-form button {
    margin-right: 0 !important;
  }
  .header-form__popap {
    top: calc(-1 * var(--pt));
    padding-top: var(--pt);
  }
  .header-form.active {
    background: transparent;
    padding: 0;
  }
  .header-form.active input {
    width: 0;
  }
  .header .header-inner {
    display: none;
    margin-left: 0;
    position: fixed;
    z-index: -1;
    width: 100%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: calc(var(--pt) + 50px);
    top: 0;
    left: 0;
    background-color: #ffffff;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    line-height: 54px;
  }
  .header.active {
    position: fixed;
    padding-left: var(--cp);
    padding-right: var(--cp);
  }
  .header.active .header-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header.active .header-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header .header-catalog {
    display: inline-block;
    width: 100%;
  }
  .header .header-catalog.active .header-catalog__btn {
    border-bottom-color: #E83445;
  }
  .header .header-catalog.active .header-catalog__btn svg {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    fill: #E83445;
  }
  .header .header-catalog__btn {
    border-top: 1px solid #E8E8E8;
    border-bottom: 1px solid #E8E8E8;
    line-height: 54px;
    background: transparent !important;
    color: #000000;
    margin: 0;
    padding: 0 10px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-radius: 0;
  }
  .header .header-catalog__btn svg {
    display: block;
    fill: #C4C4C4;
  }
  .header .header-catalog__btn div {
    display: none;
  }
  .header .header-catalog__list {
    position: static;
    width: 100%;
    padding: 0;
    -webkit-box-shadow: 0 0 0;
            box-shadow: 0 0 0;
  }
  .header .header-catalog__list li + li {
    margin-top: 0;
  }
  .header .header-catalog__list li {
    padding: 0;
    line-height: 41px;
  }
  .header .header-catalog__list li a {
    width: 100%;
    border-bottom: 1px solid #E8E8E8;
    padding: 5px 10px;
  }
  .header .header-catalog__list li a svg {
    width: 20px;
  }
  .header .header-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    width: 100%;
    max-width: 100%;
  }
  .header .header-nav__link {
    padding: 0 10px;
    width: 100%;
    margin-bottom: 0;
    border-bottom: 1px solid #E8E8E8;
  }
  .header .header-favorites {
    margin-top: -7px;
  }
  .header .header-basket__title {
    display: none;
  }
  .header .header-basket svg {
    display: inline-block;
    line-height: 0;
  }
  .header .header-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .main-title {
    font-size: 22px;
    font-weight: 700;
  }

  .free {
    width: calc(100% + var(--cp));
    position: relative;
  }
  .free hr {
    display: none;
  }
  .free .swiper-wrapper {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-grid-columns: none !important;
    grid-template-columns: none !important;
    gap: 0 !important;
  }
  .free .swiper-slide {
    max-width: 255px;
  }
  .free .blog-item__img {
    width: 100%;
  }
  .free-top {
    margin-bottom: 24px;
  }
  .free-top__title {
    font-size: 22px;
  }
  .free-top__link {
    display: none;
  }

  .free.similar-slider .swiper-slide {
    max-width: 309px;
  }

  .footer {
    margin-top: 150px;
    margin-left: calc(-1 * var(--cp));
    width: calc(100% + var(--cp) + var(--cp));
    padding-bottom: 24px;
  }
  .footer-crumbs,
.footer .to-up {
    display: none;
  }
  .footer-content {
    display: block;
  }
  .footer-content__item {
    margin-right: 0;
  }
  .footer-content__item.active .footer-list__title {
    border-bottom-color: #E83445;
  }
  .footer-content__item.active .footer-list__title svg {
    fill: #E83445;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .footer-content__item.active .footer-list {
    display: block;
  }
  .footer-content .footer-list {
    display: none;
  }
  .footer-content .footer-list__item {
    padding: 0 var(--cp);
  }
  .footer-content .footer-list__item:last-child .footer-list__title {
    border-bottom: 1px solid #E8E8E8;
  }
  .footer-content .footer-list__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    border-top: 1px solid #E8E8E8;
    padding: 10px var(--cp);
    margin: 0 auto 0;
  }
  .footer-content .footer-list__title svg {
    display: block;
  }
  .footer-content .footer-list__contact.contact {
    text-align: left;
    border-top: 1px solid #E8E8E8;
    padding: 20px 0;
  }
}
@media (max-width: 700px) {
  :root {
    --pt: 60px;
  }

  .header .header-inner {
    padding-top: calc(var(--pt) + 40px);
  }
}
@media (max-width: 600px) {
  :root {
    --pt: 20px;
    --cp: 32px;
  }

  .header.active {
    padding: 0 var(--cp);
  }
  .header .header-inner {
    padding-top: calc(var(--pt) + 60px);
  }
  .header-catalog__btn {
    font-size: 22px;
    padding: 0 32px !important;
  }
  .header-catalog__list li a {
    font-size: 16px;
  }
  .header-nav__link {
    font-size: 22px;
    padding: 0 32px !important;
  }
  .header-catalog__list li a {
    padding: 0 34px !important;
  }
  .header-catalog__list li a svg {
    margin-right: 15px;
  }
  .header-catalog__list li a svg path {
    stroke: #C4C4C4;
  }
  .header-form__popap {
    top: -30px;
    padding: 30px 30px 0;
  }
  .header-form__popap .popap-closeBtn {
    top: 32px;
    right: 34px;
  }

  .main-top__nav {
    margin-top: 20px;
    width: calc(100% + var(--cp));
    padding-bottom: 10px;
    padding-right: var(--cp);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .footer {
    margin-top: 100px;
  }
}
.main {
  margin-top: 69px;
}
.main-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog-list {
  margin-top: 100px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 38px 1fr 38px 1fr 38px 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 38px;
}
.blog-list .blog-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-height: 228px;
}
.blog-list .blog-item:first-child {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.blog-list .blog-item:first-child .blog-item__img {
  margin: 0;
  max-width: 513px;
}
.blog-list .blog-item:first-child .blog-item__info {
  max-width: 295px;
  margin-left: 36px;
}
.blog-list .blog-item:first-child .blog-item__title {
  overflow: hidden;
  line-height: 1.17em;
  margin: 3px 0 5px;
  font-size: 22px;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}
.blog-list .blog-item:first-child .blog-item__desc {
  display: none;
}
.blog-list .blog-item:first-child .blog-item__link {
  display: block;
}
.blog-list .blog-item__img {
  border-radius: 10px;
  width: 100%;
  margin-bottom: 14px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.blog-list .blog-item__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.blog-list .blog-item__group {
  color: #E83445;
  font-size: 12px;
}
.blog-list .blog-item__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 6px 0;
}
.blog-list .blog-item__desc {
  line-height: 18px;
  font-size: 13px;
  color: #9D9D9D;
  margin: auto 0 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-height: 54px;
  overflow: hidden;
}
.blog-list .blog-item__link {
  display: none;
  font-size: 14px;
  color: #9D9D9D;
}

.load-btn {
  margin-top: 96px;
}
.load-btn svg {
  pointer-events: none;
}

@media (max-width: 1024px) {
  .blog-list {
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .blog-list .blog-item:first-child .blog-item__info {
    max-width: 350px;
  }
}
@media (max-width: 768px) {
  .main {
    margin-top: 40px;
  }

  .blog-list {
    margin-top: 26px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
  .blog-list .blog-item:first-child {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
  .blog-list .blog-item:first-child .blog-item__img {
    max-width: 400px;
  }
}
@media (max-width: 600px) {
  .main-top {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main-top__nav {
    margin-top: 20px;
    width: calc(100% + var(--cp));
    padding-bottom: 10px;
    padding-right: var(--cp);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .blog-list {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    gap: 50px;
  }
  .blog-list .blog-item {
    max-height: initial;
  }
  .blog-list .blog-item:first-child {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
  .blog-list .blog-item:first-child .blog-item__img {
    width: calc(100% + var(--cp) + var(--cp));
    max-width: initial;
    margin-left: calc(-1 * var(--cp));
    margin-bottom: 14px;
    border-radius: 0;
  }
  .blog-list .blog-item:first-child .blog-item__info {
    max-width: 100%;
    margin-left: 0;
  }
  .blog-list .blog-item:first-child .blog-item__desc {
    display: block;
  }
  .blog-list .blog-item:first-child .blog-item__link {
    display: none;
  }
}