.main-title {
  margin-top: 70px;
}

.cart-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 24px;
  border-bottom: 1px solid #C4C4C4;
  margin-bottom: 33px;
}
.cart-item:last-child {
  margin-bottom: 0;
  border-bottom: 0;
}
.cart-item__img {
  width: 98px;
  height: 98px;
}
.cart-item__info {
  margin-left: 21px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.cart-item__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 10px;
}
.cart-item__title {
  font-size: 18px;
  line-height: 20px;
  max-width: 450px;
  color: #282828;
}
.cart-item__remove {
  padding: 0;
  margin: 0;
  border: 0;
  background: 0;
  cursor: pointer;
}
.cart-item__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 53px;
}
.cart-item__add {
  padding: 0;
  margin: 0;
  border: 0;
  background: 0;
  cursor: pointer;
  font-size: 14px;
  margin-top: 13px;
  color: #8C8C8C;
}
.cart-item__add svg {
  display: none;
}
.cart-item__add svg path {
  fill: transparent;
  stroke: #CCCCCC;
}
.cart-item__add svg:hover path {
  fill: #E83445;
  stroke: #E83445;
}
.cart-item__price {
  line-height: 20px;
  color: #000000;
  font-size: 18px;
}

.cart-inner {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 20px;
}
.cart-inner__list {
  max-width: 686px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 370px;
          flex: 1 0 370px;
}
.cart-inner__info {
  max-width: 391px;
  padding: 36px 26px 28px 20px;
  background-color: #F6F6F6;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 350px;
          flex: 1 0 350px;
  line-height: 20px;
}
.cart-inner__info strong {
  font-size: 18px;
  font-weight: 700;
  color: #000000;
}
.cart-inner__info .info-list {
  margin-top: 20px;
  font-size: 14px;
  padding-bottom: 30px;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, #C4C4C4), color-stop(50%, transparent));
  background-image: linear-gradient(to right, #C4C4C4 50%, transparent 50%);
  background-size: 20px 1px;
  background-repeat: repeat-x;
  background-position-y: 100%;
}
.cart-inner__info .info-list__top {
  margin-bottom: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #717171;
}
.cart-inner__info .info-list ul {
  padding: 0;
  list-style: none;
  margin: 0;
}
.cart-inner__info .info-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
  font-size: 14px;
  color: #282828;
}
.cart-inner__info .info-list li:last-child {
  margin-bottom: 0;
}
.cart-inner__info .info-list li div {
  max-width: 223px;
}
.cart-inner__info .info-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 30px 0;
  color: #717171;
  font-size: 18px;
}
.cart-inner__info .info-btn {
  padding: 0;
  margin: 0;
  border: 0;
  background: 0;
  cursor: pointer;
  padding: 10px 0;
  color: #ffffff;
  border-radius: 5px;
  background-color: #E83445;
  width: 100%;
}

@media (max-width: 768px) {
  .cart-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .cart-inner__list {
    max-width: 100%;
    width: 100%;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }
  .cart-inner__info {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    max-width: 600px;
    width: 100%;
  }
}
@media (max-width: 600px) {
  .cart-item__img {
    width: 91px;
    height: 91px;
  }
  .cart-item__info {
    margin-left: 10px;
  }
  .cart-item__title {
    font-size: 14px;
  }
  .cart-item__remove {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .cart-item__remove svg {
    -webkit-transform: scale(0.4375);
            transform: scale(0.4375);
  }
  .cart-item__bottom {
    margin-top: 34px;
  }
  .cart-item__add {
    margin-top: 0;
  }
  .cart-item__add svg {
    display: block;
  }
  .cart-item__add span {
    display: none;
  }

  .cart-inner__info {
    width: calc(100% + var(--cp) * 2 - 26px);
    margin-left: calc(-1 * (var(--cp) - 13px));
  }
  .cart-inner__info .info-list li {
    font-size: 12px;
  }
  .cart-inner__info .info-list li div {
    max-width: 160px;
  }
}