.main {
  position: relative;
}
.main-btns {
  display: none;
  position: sticky;
  bottom: 5px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15px 0 0;
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
.main-btns .all-to-basket:hover {
  padding: 0 !important;
  -webkit-transform: translate(0) !important;
          transform: translate(0) !important;
}
.main-btns .all-to-basket:hover span {
  padding: 8px 30px !important;
}
.main-btns .clear-favorites {
  margin-left: 0 !important;
  padding: 23px 0 !important;
}
.main-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 70px;
  margin-bottom: 83px;
}
.main-top .main-title {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.main-top__closeBtn {
  padding: 0;
  margin: 0;
  border: 0;
  background: 0;
  cursor: pointer;
  position: absolute;
  top: 30px;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  right: var(--cp);
  width: 30px;
  height: 30px;
}
.main-top__closeBtn:after, .main-top__closeBtn:before {
  -webkit-transform-origin: center;
          transform-origin: center;
  position: absolute;
  display: inline-block;
  content: "";
  width: 30px;
  height: 2px;
  background-color: #000000;
}
.main-top__closeBtn:after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.main-top__closeBtn:before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.main .all-to-basket {
  padding: 0;
  margin: 0;
  border: 0;
  background: 0;
  cursor: pointer;
  background-color: #E83445;
  color: #ffffff;
  border: 1px solid #E83445;
  padding: 0px 0px;
  display: inline-block;
  position: relative;
  border-radius: 7px;
  font-size: 14px;
  text-decoration: none;
  -webkit-transition: padding 0.2s ease-out;
  transition: padding 0.2s ease-out;
  outline: none;
}
.main .all-to-basket span {
  padding: 8px 30px;
  border-radius: 5px;
  border: 1px solid transparent;
  display: inline-block;
  -webkit-transition: padding 0.2s ease-out, border-color 0.2s ease-out;
  transition: padding 0.2s ease-out, border-color 0.2s ease-out;
}
.main .all-to-basket span svg {
  margin-left: -9px;
  visibility: hidden;
  -webkit-transition: 0.2s ease-out, visibility 0.123s ease-in;
  transition: 0.2s ease-out, visibility 0.123s ease-in;
}
.main .all-to-basket:hover, .main .all-to-basket:focus {
  padding: 3px;
  -webkit-transform: translate(-3px, -3px);
          transform: translate(-3px, -3px);
}
.main .all-to-basket:hover span, .main .all-to-basket:focus span {
  border-color: #ffffff;
}
.main .all-to-basket:hover span svg, .main .all-to-basket:focus span svg {
  margin-left: 5px;
  visibility: visible;
}
.main .clear-favorites {
  padding: 0;
  margin: 0;
  border: 0;
  background: 0;
  cursor: pointer;
  color: #818181;
  border-radius: 8px;
  font-size: 16px;
  line-height: 20px;
  margin-left: 15px;
  padding: 6px 8px;
  -webkit-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
}
.main .clear-favorites:hover {
  background-color: #F5F5F5;
}
.main-title {
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main-title__count {
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  margin-left: 11px;
  padding: 5px 10px;
  background-color: #E83445;
  color: #ffffff;
  border-radius: 120px;
}
.main-catalog {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr 20px 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 38px 20px;
  font-family: "Nunito Sans";
}
.main-catalog__item {
  text-decoration: none;
  color: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}
.main-catalog__item:hover img {
  border-radius: 0;
}
.main-catalog__item:hover .buy-btn button {
  top: 0%;
}
.main-catalog__item img {
  -webkit-transition: border-radius 0.15s ease-out;
  transition: border-radius 0.15s ease-out;
  border-radius: 10px;
  width: 100%;
}
.main-catalog__item .like {
  width: 36px;
  height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 0;
  outline: none;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.8);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-radius: 5px;
  position: absolute;
  top: 14px;
  right: 14px;
}
.main-catalog__item .like svg {
  fill: #ffffff;
  stroke: #E83445;
  -webkit-transition: fill 0.15s ease-in;
  transition: fill 0.15s ease-in;
  pointer-events: none;
}
.main-catalog__item .like:hover svg {
  fill: #E83445;
}
.main-catalog__item .like.isFavourite {
  background-color: rgba(232, 52, 69, 0.8);
  -webkit-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
}
.main-catalog__item .like.isFavourite:before {
  pointer-events: none;
  content: "";
  display: block;
  border: 0.5px solid #E83445;
  opacity: 0;
  background-color: #ffffff;
  width: 0px;
  height: 1px;
  position: absolute;
  top: 9px;
  left: 12px;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: rotate(54deg);
          transform: rotate(54deg);
  -webkit-transition: width 0.15s ease-out, opacity 0.15s ease-in;
  transition: width 0.15s ease-out, opacity 0.15s ease-in;
}
.main-catalog__item .like.isFavourite:hover {
  background-color: #E83445;
}
.main-catalog__item .like.isFavourite:hover svg {
  stroke: #E83445;
  fill: #ffffff;
}
.main-catalog__item .like.isFavourite:hover:before {
  opacity: 1;
  width: 17px;
}
.main-catalog__item .like.isFavourite svg {
  stroke: rgba(232, 52, 69, 0.8);
}
.main-catalog__item .description {
  max-width: 266px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.main-catalog__item .price {
  color: #818181;
}
.main-catalog__item .buy-btn {
  margin-top: 9px;
  -webkit-transition: height 0.3s ease-out;
  transition: height 0.3s ease-out;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 38px;
  position: relative;
  overflow: hidden;
}
.main-catalog__item .buy-btn button {
  top: -100%;
  position: relative;
  padding: 0;
  margin: 0;
  border: 0;
  background: 0;
  cursor: pointer;
}
.main-catalog__item .buy-btn button.for-basket {
  padding: 10px 22px;
  background-color: #E83445;
  color: #ffffff;
  border-radius: 5px;
  -webkit-transition: top 0.1s ease-out 0s, background-color 0.123s ease-out;
  transition: top 0.1s ease-out 0s, background-color 0.123s ease-out;
}
.main-catalog__item .buy-btn button.for-basket:hover {
  background-color: #F53245;
}
.main-catalog__item .buy-btn button.order {
  color: #818181;
  -webkit-transition: color 0.123s ease-in, top 0.1s ease-out 0s;
  transition: color 0.123s ease-in, top 0.1s ease-out 0s;
}
.main-catalog__item .buy-btn button.order:hover {
  color: #E83445;
}

@media (max-width: 1024px) {
  .main-catalog {
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .main-catalog__item .buy-btn {
    display: none;
  }
}
@media (max-width: 768px) {
  .main-top {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 40px;
    margin-bottom: 26px;
  }

  .main-title {
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
  }

  .main-catalog {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
  .main-catalog__item {
    height: auto;
  }
}
@media (max-width: 600px) {
  .main-btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .main-top__btns {
    display: none;
  }
}
@media (max-width: 425px) {
  .main-catalog {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}