* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  margin: 0 auto;
  max-width: 1180px;
  padding: 0 12px;
}

.logo {
  display: inline-block;
  padding-bottom: 9px;
  border-bottom: 2px solid transparent;
  -webkit-transition: border-bottom-color 123ms ease-out;
  transition: border-bottom-color 123ms ease-out;
  line-height: 0;
}
.logo:hover {
  border-bottom-color: #C4C4C4;
}
.logo.active, .logo:active {
  border-bottom-color: #E83445;
}