@import style

.main
    padding-top: var(--pt)
    padding-bottom: 50px
    header
        text-align: center
    .furniture
        margin-top: 48px
        &-border
            border: 2px solid $lightgray-2
            border-radius: 20px
            width: 100%
            display: flex
            justify-content: center
        &-relative
            position: relative
            width: 100%
        &-background
            overflow: hidden
            display: flex
            justify-content: center
            overflow: hidden
            border-radius: 20px
            border-radius: 20px
            width: 100%
            img
                width: 1211px
                object-position: center
        &-item
            display: inline-block
            position: absolute
            border-radius: 50%
            &__svg
                width: 32px
                height: 32px
                display: flex
                justify-content: center
                align-items: center
                border-radius: 50%
                background-color: $red
                fill: $white
                border: 1px solid $red
                transition: width .123s ease-out, height .123s ease-out, transform .123s ease-out, fill .123s ease-out, background-color .123s ease-out
            &:hover
                border-radius: 0
                .furniture-item__svg
                    transform: rotateZ(-45deg) scale(.75)
                    fill: $red
                    background-color: $white
                .furniture-item__tooltip
                    display: block
                    animation: display .5s ease-out forwards
            &.active .furniture-item__svg
                transform: rotateZ(-45deg) scale(.75) !important
                fill: $red !important
                background-color: $white !important
            &__tooltip
                animation: display .5s ease-out alternate-reverse forwards
                display: none
                background-color: $white
                width: 216px
                padding: 16px 24px 6px 20px
                border-radius: 0 5px 5px 5px
                border: 1px solid $red
                margin-left: 30px
                position: relative
                z-index: 2
        &-tooltip__link
            font-weight: 600
            font-size: 20px
            margin-bottom: 6px
            @include h_underline(-16px, url('../img/icons/arrow.svg'))
            &:hover
                @include hh_underline(-16px)
        &-tooltip__text
            margin: 0 0 23px
            font-size: 13px
            color: $dark
            line-height: 18px
        &-tooltip__bottom
            display: flex
            justify-content: space-between
            align-items: center
        &-tooltip__btn
            margin-left: -15px
            padding: 6px 15px
            color: $red
            border-radius: 5px
            transition: background-color .123s ease-out
            text-decoration: none
            &:hover
                background-color: $lightgray-3
        span
            font-size: 13px
            line-height: 18px
            color: $lightgray
    .footer
        margin-top: 55px
        display: flex
        .empty
            margin: auto
        &-btn
            background-color: $red
            color: $white
            border: 1px solid $red
            padding: 0px 0px
            display: inline-block
            position: relative
            border-radius: 7px
            font-size: 14px
            text-decoration: none
            transition: padding .2s ease-out
            outline: none
            span
                padding: 10px 15px
                border-radius: 5px
                border: 1px solid transparent
                display: inline-block
                transition: padding .2s ease-out, border-color .2s ease-out
                svg
                    margin-left: -9px
                    visibility: hidden
                    transition: .2s ease-out, visibility .123s ease-in
            &:hover, &:focus
                padding: 3px
                transform: translate(-3px, -3px)
                span
                    border-color: $white
                    svg
                        margin-left: 5px

                        visibility: visible
        &-nav
            margin-top: 8px
            margin-left: auto
            flex-grow: 1
            max-width: 212px
            display: flex
            justify-content: space-between
            align-items: flex-start
            &__link
                font-size: 14px
                @include _link
                @include h_redborder(0)
    .mobile-tooltips
        display: none
        &-item
            padding: 14px 20px 20px
            border: 1px solid $red
            border-radius: 10px
            margin-top: 14px
            display: none
            &.active
                display: block

@media (max-width: 1100px)
    .main
        padding-top: var(--pt)
        .furniture-background img
            width: 100%

@media (max-width: 700px)
    .main
        padding-top: var(--pt)
        margin-top: 20px
        .furniture
            display: flex
            flex-direction: column
            align-items: center
            overflow: hidden
            &.active
                .furniture-item__svg
                    transform: rotateZ(-45deg) scale(.75) !important
                    fill: $red !important
                    background-color: $white !important
                    cursor: pointer
                .furniture-item__tooltip
                    display: none
            &-border
                overflow: hidden
            &-relative
                flex-shrink: 0
                width: 720px
            &-background img
                width: 100%
            &-item__svg
                pointer-events: none
            &-item:hover
                .furniture-item__svg
                    transform: rotateZ(0)
                    fill: $white
                    background-color: $red
                .furniture-item__tooltip
                    display: none !important
            &-tooltip__link
                margin-bottom: 4px
                &:after
                    right: -29px
                &:hover:after
                    right: -35px
            &-tooltip__text
                margin-bottom: 17px
        .mobile-tooltips
            display: block

        .footer
            margin-top: 20px
            justify-content: space-between
            .empty
                display: none
            &-nav
                margin-left: 10px

@media (max-width: 600px)
    .main
        padding-top: var(--pt)
        .furniture-relative
            width: 720px
            overflow: hidden
        .furniture-background img
            width: 100%

@media (max-width: 420px)
    .main .furniture-relative
        width: 600px
    .main .footer
        flex-direction: column
        align-items: center
        &-btn
            padding: 14px 60px
            &:hover, &:focus
                padding: 3px
                transform: translate(-3px, -3px)
                span
                    padding: 14px 60px 14px 60px
                    border-color: $white
                    svg
                        display: inline-block
        &-nav
            width: 100%
            margin: 20px 0 0 0
